html {
  font-family: sans-serif;
    font-size:16px;
}
body { 
  background-color: #FFF;
  font-family: Arial, Verdana, sans-serif;
  margin:20% auto;
  width:90%;
  font-family: 'mon', sans-serif;
  text-align: center;
 }
 
 p {
  margin:2rem 0;
  font-weight:200;
  text-align: center;
 }

 @font-face {
  font-family:montserrat;
  src: url(/montserrat-regular.ttf) format('truetype');
  font-weight:normal;
  font-style:normal;
}

main {
  background-color:#ddd;
    background-image:url(/josefinslab-regular\ copy.ttf);
    background-size:cover;
    background-repeat: no-repeat;
    border:1px solid #333;
  margin:40px 0;
  max-width:600px;
  text-align: center;
 }
 
 section {
  margin:40px 0;
 }
 
 h1 {
  font-size:4rem;
  font-family: 'ser', cursive;
  letter-spacing: .125rem;
  text-align: center;
 }
 .portfolio-grid {

  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap:1%;
  
  }
  
  .portfolio-grid a {
   width:100%;
   padding:.5rem 0;
   font-size:.85rem;
  }
  
   