html {
  font-family: sans-serif;
    font-size:16px;
}
body { 
  background-color: #FFF;
  font-family: Arial, Verdana, sans-serif;
  margin:20% auto;
  width:90%;
  font-family: 'Poppins', sans-serif;
 }
 
 p {
  margin:2rem 0;
  font-weight:200;
 }
 
 main {
  margin:40px 0;
  max-width:600px;
 }
 
 section {
  margin:40px 0;
 }
 
 h1 {
  font-size:4rem;
  font-family: 'Karantina', cursive;
  letter-spacing: .125rem;
 }

